
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-item .nav-link{

    color: white;
    /* justify-content: space-between; */
     padding: 10px 10px; 
     justify-content: space-evenly;
     font-weight: 650;
     font-size: 16px;
     letter-spacing: 2px;
     

}
#navbarNav .navbar-item .nav-link:hover{

    color:#ffba00;
}

#navbarNav .navbar-item .active-home{

    color:#ffba00;
}

#navbarNav .navbar-item :hover i{

    rotate: 90deg;
    
}

.dropdown-menu{
    display: none;
    opacity: 25px;
    background-color: orange;
    transition: all 2s linear ;
    z-index: 100 !important;

}
.dropdown-item{
    color: black;
    padding: 12px 5px ;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 700;
}

.dropdown-item:hover{
    color: black;
    background-color: #ffc107;
}
.dropdown:hover .dropdown-menu{
    background-color: white;
    display: block;
    color: black;
    
}



.navbar-brand .fa-solid{
    color: rgb(232, 214, 12);
    margin: 13px 0px;
    margin-left: 17px;
    
}
.menu-btn{
    color: white;
}

.nav-wrapper video{

     background-position: cover;  
     background-repeat: no-repeat;
    object-fit: fill;
    position: relative; 
    width: 100vw;
}
 
 /* !-- form start --- */ 

 .car-img img{
    width: 5rem ;
    height: 40px;
}
.activecar-img{
    background-color: #ffc107;
}
.car-img>a{
    margin: 4px ;
    height: 4.5rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: all 1s linear;
}
.car-img>a:hover{
    background-color: #ffc107;
}
.car-img p{
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.form{

   
    height: 580px;
    width: 35%;
    position: absolute;
    top:190px ;
    bottom: 30px;
    left: 80px;
    background-color: white;
}

.form h1 {
    margin: 50px 120px;
    font-size: 35px;
    font-weight: 800;
    
}

.form-value {

    margin-top: 80px
    
}
 .btn-tab .btn-value{

    margin-left: 160px;
    margin-top: 50px;
    border-radius: 40px;
    width: 210px;
    padding: 18px;
    font-size: 25px;
    font-weight: 500;
 }

 .btn-tab .btn-value:hover{
    background-color: black;
    color: rgb(229, 198, 20);
 }


 /* nav footer  */

 .navbar2{ 
   
    height: 150px; 
    /* background-color: yellow; */ 
    margin-top: -8px; 
    text-align: center; 
    
} 
 
.navbarlink2{ 
    margin-top: 50px; 
    font-weight: 700; 
    font-size: 21px; 
    
} 
 
.navbarlink2 .btn-1{ 
    background-color:#ffce03;
    border: 3px solid black;
    padding: 20px; 
    border-radius: 50px; 
    width: 250px; 
    margin-top: -24px; 
    font-weight: 700; 
    font-size: 18px; 
 
} 
 .navbarlink{
    justify-content: space-around;
    list-style: none ;
    

 }
.navbarlink2 .btn-1:hover{ 
     
    background-color: black; 
    color:#ffba00;; 
     
} 
 
.navbar2 .fa-phone-flip{ 
    /* border: 2px solid red; */ 
    width: 50px; 
    padding: 10px; 
    background-color:white; 
    border-radius: 50%; 
} 
 
.navbar2 .fa-taxi{ 
    /* border: 2px solid red; */ 
    width: 50px; 
    padding: 10px; 
    background-color:white; 
    border-radius: 50%; 
     
} 
.navbar2 .fa-location-dot{ 
    /* border: 2px solid red; */ 
    width: 50px; 
    padding: 10px; 
    background-color:white; 
    border-radius: 50%;}


    /* nav footer end  */


 /* Card  */

.cards{
 height: 700px;
 width: 100%;
 text-align: center;
 padding-top: 110px;
 margin-top: -5px;
 background-color: white;
 
 

}
.cards .text-warning{
    font-size: 30px;
    font-weight: 900;
}
.cards .text-service{

    font-size: 55px;
    font-weight: 800;
}

.card img{

height: 80px;
width: 25%;
margin-left: 130px;
margin-bottom: 20px;

}

.cards .card{

    height: 350px;
    margin-top:  50px;
    border: 0;
    border-right: 1px dotted black;
    
   
}

.card-body{
    /* margin-left: 50px; */
    font-size: 20px;
}


/* ---card end--- */


/* tariff start*/

.section2{ 
    background-color: rgb(225, 234, 245); 
    height: 800px; 
     
} 

.section2 .heading2{
    padding-top: 50px;
    margin-top: 20px; 

}

.section2 .heading2 h4{
    font-size: 30px;
    font-weight: 800;
   
}

.section2 .heading2 h2{
    font-size: 60px;
    font-weight: 700;
   
}
 
.viptaxi{ 
    /* border: 2px solid black;  */
    /* margin-top: 50px; */ 
    justify-content: center; 
    height: 450px; 
    width: 90%; 
    margin-inline-start: 70px; 
    
} 
.viptaxi2{ 
    border: 0.2px solid lightgrey; 
    /* margin-left: 50px; */ 
    background-color: white; 
    border-radius: 5px; 
    width: 35%
     
     
} 
.viptaxi3{ 
    border: 0.2px solid lightgrey; 
    margin-left: 50px; 
    background-color: white; 
    border-radius: 5px; 
    width: 35%
} 

.viptaxi4{ 
    border: 2.7px solid orange; 
    margin-left: 50px; 
    background-color: white; 
    width: 35%
} 
 
.viptaxi5{ 
    border: 0.2px solid lightgrey; 
    margin-left: 50px; 
    background-color: white; 
    border-radius: 5px; 
    width: 35%
} 
.image{ 
    margin-top: 20px; 
} 
 
.viptaxi2:hover{ 
    box-shadow: 0px 0px 18px  rgb(158, 218, 238); 
 
} 
.viptaxi3:hover{ 
    box-shadow: 0px 0px 18px  rgb(158, 218, 238); 
 
} 
.viptaxi4:hover{ 
    box-shadow: 0px 0px 18px  rgb(158, 218, 238); 
 
} 
.viptaxi5:hover{ 
    box-shadow: 0px 0px 18px  rgb(158, 218, 238); 
 
}

 /* tariff end  */


/* App  */

#Apps {   
     height: 90vh;
    width: 100%;    
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(./47b58909-54f3-48fe-9b26-cb41e92211fb/download-bg.jpg);
    background-position: center center;   
     background-size: cover;
    background-repeat: no-repeat;    
    /* border: 1px solid black; */
    display: flex;    
    flex-direction: column;
    align-items: center;    
    justify-content: space-between;
    gap: 10px;
}


.App-header {
     /* border: 1px solid yellow; */ 
    text-align: center;
      margin-top: 50px;

}

.App-content {
    width: 100%;
    height: 70%;
    flex: 4 3 3;    
    /* border: 1px solid red; */
}


.App-class {
    /* border: 1px solid white; */   
     /* flex: 4; */
    margin: 0 10px;}


.appcc {
    flex: 4;
}


.app-mp {
     background-image: url(./47b58909-54f3-48fe-9b26-cb41e92211fb/mobile.png);
    height: 100%;   
     background-repeat: no-repeat;
    background-position: center;    
    background-size: contain;
    margin: 0px;    
    display: flex;
    flex-direction: column;   
     align-items: center;
    justify-content: end;    
    gap: 30px;
    padding-bottom: 20px;   
     /* border: 1px solid purple; */
}

.appic {
    display: flex;    
    flex-direction: column;
    justify-content: space-around;   
     justify-items: flex-end;
}


.nmb {
    flex: 1;    
    /* border: 1px solid red; */
    align-self: flex-start;
}
.app-1 {
    display: flex;    
    justify-content: space-between;
    align-items: center;   
     gap: 10px;
    justify-items: flex-start;

}

.appdata {
    flex: 4;
}

.nmb h2 {
    text-align: center;    
    width: 50px;
    height: 50px;   
     border-radius: 50%;
    padding-top: 15px;    
    font-size: 20px;
    font-weight: bold;
}
.app-2 {
    display: flex;   
     justify-content: space-between;
    gap: 10px;

}


.nmb h2 {
    text-align: center;   
     width: 50px;
    height: 50px;   
     border-radius: 50%;
    padding-top: 15px;    
    font-size: 20px;
    font-weight: bold;
}

.appdata1 {
    flex: 4;   
   
}

/* <---- App end ----> */


/* drive start */

.heading h4{

    font-size: 30px;
    font-weight: 900;
    margin-top: 80px;
    margin-left: 80px;
}
.heading h2{
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-left: 80px;
}
.story p{
/* border: 2px solid red; */
    height: 90px;
    width: 40%;
    margin-left: 80px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;


}
.list-first .check li{
    margin-left: 50px;
    font-weight: 600;
    font-size: 22px;
    line-height: 42px;
    list-style: none;
}

.btn-wrap{
    margin-left: 80px;
    border: 2px solid yellow;
    width: 20%;
    height: 65px;
    /* padding: 10px; */
    text-align: center;
    border-radius: 40px;
    background-color: #ffba00;
    margin-top: 20px;
}
.btn-wrap .btn{

    font-weight: 510;
    transition: all 1s linear ;
}

.btn-wrap:hover{
    color:rgb(221, 170, 18);
    background-color:black; ;
    /* transition: all 1s linear ; */
}

.list-first .check li span{
    color: rgb(236, 188, 15);
    margin-right: 8px;
    font-weight: 900px;
}   


/* drive end  */

 /* <!-- !---border start --- */ 
.one{
    /* border: 4px solid red; */
    height: 17px;
    width: 100vw;
    background-image: repeating-conic-gradient(white 0deg,white 90deg,black 91deg,black 180deg);
    background-size: 1% 100%;
    margin-top: 150px;

  }

/* border end --- */

 #testimonials{
    margin: 20px 0;
     /* border: 2px solid black;  */
     background-color: rgb(248, 244, 244);
    height: 900px;
    padding: 15px;
    margin-top: -0.5px;
}

#testimonials h1{
    font-weight: 800;
    font-size: 30px;
    margin-top: 70px;
    
   
}
#testimonials h2{
    font-weight: 700;
    font-size: 65px;
   
}

#testimonials .testimonial-wrapper{
    /* border: 3px solid green; */
    height: 70%;
    width: 100%;
    padding-top: 35px;
    margin-top: 40px;
 

}
#testimonials .testimonial-wrapper .testimonial-one{
    /* border: 3px solid red; */
    height: 470px;
    width: 400px;
    margin-right: 2px;
    background-color: white;
   
    
} 

#testimonials .testimonial-wrapper .testimonial-one p{


    font-size: 20px;
    padding: 17px;
    padding-top: 25px;
   
    
} 
#testimonials .testimonial-wrapper .testimonial-one .img1{
    text-align: center;
    justify-content: center;
   
} 
#testimonials .testimonial-wrapper .testimonial-one .img1 img{
   border-radius: 50%;
   
    
} 



/* testimonial ends */


/* -divimagestart */ 
 
.divimage{ 
    margin-left: 50px; 
    margin-top: 40px;    
 
} 
.divimage .img1{ 
    
    width: 47%;  
 
} 
.divimage .img2{ 
    margin-left: 2px; 
    width: 47%;  
 
} 
 
/* ---divimageend-- */




/* <!-- our partners code start --> */

.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffba00;
    padding: 20px;
}

.custom-container h4{
    font-size: 26px;
    font-weight: 700;
    margin-right: 150px;
}

.custom-container h2{
    font-size: 40px;
    color: white;
    font-weight: 800;
    margin-right: 100px;
    margin-top: -14px;
}
/* Make images responsive */
.col-6 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}




/* css code for footer explore section start */
.menu-footer-menu-ul {
    list-style: none;
    padding-left: 0;
}

.menu-footer-menu-li:hover {
    color: #ffba00;
}

.menu-footer-menu-li {
    padding-bottom: 10px;
    /* Adjust spacing as needed */
    margin-bottom: 5px;
    /* Add margin between li items */
    border-bottom: 1px dotted gray;
    /* Dotted bottom border */
    cursor: pointer;
}

.heading-color {
    color: #ffba00;
    font-size: 26px;
    font-weight: 700; 
    
}


#block-footer {
    background-color: #2e2e2e;
    color: #CCCCCC;
    padding: 30px 0;
    font-size: 14px;
}

footer {
    background-color: #050404;
    text-align: left;
    padding: 37px 0 27px;
    overflow: hidden;
}

/* css code for footer explore section end */


/* bottom Footer Block start */
footer {
    background-color: black;
    text-align: left;
    padding: 37px 0 27px;
    overflow: hidden;
}

.footer-text {
    text-decoration: none;
    color: #ffba00;
    font-size: 20px;
    
    
}

.footer-text:hover {
    text-decoration: none;
    color: white;
}


/* bottom Footer Block end */